@theme {
    /* Primary Colors */
    --color-primary-50: color-mix(in oklch, #d85dc1 10%, white);
    --color-primary-100: color-mix(in oklch, #d85dc1 20%, white);
    --color-primary-200: color-mix(in oklch, #d85dc1 40%, white);
    --color-primary-300: color-mix(in oklch, #d85dc1 60%, white);
    --color-primary-400: color-mix(in oklch, #d85dc1 80%, white);
    --color-primary-500: #d85dc1;
    --color-primary-600: color-mix(in oklch, #d85dc1 80%, black);
    --color-primary-700: color-mix(in oklch, #d85dc1 60%, black);
    --color-primary-800: color-mix(in oklch, #d85dc1 40%, black);
    --color-primary-900: color-mix(in oklch, #d85dc1 20%, black);

    /* Accent Colors */
    --color-accent-50: color-mix(in oklch, #252439 10%, white);
    --color-accent-100: color-mix(in oklch, #252439 20%, white);
    --color-accent-200: color-mix(in oklch, #252439 40%, white);
    --color-accent-300: color-mix(in oklch, #252439 60%, white);
    --color-accent-400: color-mix(in oklch, #252439 80%, white);
    --color-accent-500: #252439;
    --color-accent-600: color-mix(in oklch, #252439 80%, black);
    --color-accent-700: color-mix(in oklch, #252439 60%, black);
    --color-accent-800: color-mix(in oklch, #252439 40%, black);
    --color-accent-900: color-mix(in oklch, #252439 20%, black);

    /* Neutral Colors */
    --color-neutral-50: color-mix(in oklch, #0b2a97 10%, white);
    --color-neutral-100: color-mix(in oklch, #0b2a97 20%, white);
    --color-neutral-200: color-mix(in oklch, #0b2a97 40%, white);
    --color-neutral-300: color-mix(in oklch, #0b2a97 60%, white);
    --color-neutral-400: color-mix(in oklch, #0b2a97 80%, white);
    --color-neutral-500: #0b2a97;
    --color-neutral-600: color-mix(in oklch, #0b2a97 80%, black);
    --color-neutral-700: color-mix(in oklch, #0b2a97 60%, black);
    --color-neutral-800: color-mix(in oklch, #0b2a97 40%, black);
    --color-neutral-900: color-mix(in oklch, #0b2a97 20%, black);
}

.bg-gradient {
    background: radial-gradient(#ce47bc, rgb(29, 29, 29) 80%);
}

.dramatic-bg {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #ffffff;
}

.ironic-bg {
    background: linear-gradient(135deg, #fceabb, #f8b500);
    color: #2c2c2c;
}

.cringe-bg {
    background: linear-gradient(135deg, #ff4e50, #f9d423);
    color: #ffffff;
}

.classy-bg {
    background: linear-gradient(135deg, #2c3e50, #bdc3c7);
    color: #f1f1f1;
}

.absurd-bg {
    background: linear-gradient(135deg, #fc466b, #3f5efb, #00c9ff);
    color: #ffffff;
}
